<style type="text/css">
	.upvotes {
		text-align: center;
	}
	.post {
		border: 1px solid rgb(220,220,220);
		margin: 10px;
		/*height: 12%;*/
	}
	/*.title {
		float: left;
		width: 90%;
	}*/
	.details {
		/*float: left;*/
	}
	.submission-time {
		/*width: 20%;*/
	}
	.author {
		/*width: 20%;*/
	}
	.comments {
		/*width: 20%;*/
	}
</style>

<div class="post" *ngIf="post.domain == 'youtube.com' || post.domain == 'youtu.be'">
	<div class="row">
		<div class="upvotes col-sm-1"><h5>{{post.score}}</h5></div>
		<div class="thumbnail col-sm-1"><img [src]="post.thumbnail"></div>
		<div class="col-sm-9">
			<div class="row">
				<div class="title col-sm-12"><h4>{{post.title}}</h4></div>
			</div>
			<div class="row">
				<div class="submission-time col-sm-2">{{post.created}} hours ago</div>
				<div class="author col-sm-2">{{post.author}}</div>
				<div class="comments col-sm-1">{{post.num_comments}}</div>
			</div>
		</div>
	</div>
</div>