<style type="text/css">
  #logo{
    display: block;
    height: 95px;
    /*background: url('/assets/images/Spotyngular.png') no-repeat center;*/
    background-size: 60px;
    cursor: auto;
  }
  #nav-items{
    list-style: none;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-start: 0;
    padding-left: 0;
  }
  #nav-items li{
    position: relative;
  }
  #nav-items li a{
    padding: 50px 10px 0 10px;
    height: 75px;
    width: 90px;
    display: block;
    color: #e2e2e2;
    text-decoration: none;
    position: relative;
    font-weight: 400;
  }
  #nav-items li a:before{
    position: absolute;
    top: 18px;
    left: 0;
    text-align: center;
    width: 100%;
    font-size: 32px;
  }
  #nav-items li a span{
    text-align: center;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-top: 5px;
  }
</style>

<a [routerLink]="['/']" id="logo" class="logo"></a>
<ul id="nav-items">
  <li>
    <a [routerLink]="['/auth/youtube']"><span><i class="fa fa-pied-piper fa-3x" aria-hidden="true"></i><br>Profile</span></a>
  </li>
  <li>
    <a [routerLink]="['/browse']"><span><i class="fa fa-search fa-3x" aria-hidden="true"></i><br>Browse</span></a>
  </li>
  <li>
    <a [routerLink]="['/settings']"><span><i class="fa fa-cog fa-3x" aria-hidden="true"></i><br>Settings</span></a>
  </li>
</ul>