<style>
	#main {

    }
    #router-outlet {
      background-color: rgb(43, 62, 80);
      /*background-color: white;*/
      position: absolute;
      left: 90px;
      right: 30em;
      top: 0;
      bottom: 40px;
      color: #e2e2e2;
    }
    #main-nav {
      min-height: 595px;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 90px;
      z-index: 2000;
      background-color: rgb(0,0,0);
    }

</style>
<div class="container-fluid">
    <div id="main-nav">
        <mu-navbar></mu-navbar>
    </div>
    <div id="main">
        <div id="router-outlet">
            <router-outlet></router-outlet>
        </div>

    </div>
    <mu-right-bar></mu-right-bar>
    <mu-control-bar></mu-control-bar>

</div>


