<style>
  * {
    /*font-family: 'Open Sans', sans-serif;*/
  }
  #page {
    overflow: hidden;
  }
  .container-fluid {
    overflow: hidden;
  }
  a {
    color: red;
  }
  .logo img{
    height: 120px;
    width: 120px;
  }
  #router-outlet {
    /*background-color: rgb(43, 62, 80);*/
    background-color: rgb(255,255,255);
    height: 100%;
    /*color: #e2e2e2;*/
    color: rgb(33,33,33);
  }
  .sidenav-layout {
    overflow: hidden;
  }
  #main-nav {
    min-height: 595px;
    height: 100%;
    z-index: 2000;
    /*background-color: rgb(0,0,0);*/
    background-color: rgb(255,255,255);
    color: rgb(33,33,33);
    border-right: 1px solid rgb(220,220,220);
  }
  #nav-toggle {
    position: absolute;
    z-index: 9999;
    width: 100%;
  }
  #control-bar {
    bottom: 0;
    height: 3.5em;
    width: 100%;
    z-index: 2000;
    position: absolute;
    /*background-color: rgba(78,93,108,0.9);*/
    /*color: #e2e2e2;*/
    background-color: rgb(255,255,255);
    color: rgb(33,33,33);
    border-top: 1px solid rgb(220,220,220);
  }
  #right-bar {
    min-width: 25em;
  }
  .start-toggle {
    float: left;
  }
  .end-toggle {
    float: right;
  }
</style>
<mu-login *ngIf="!loggedIn"></mu-login>
<div *ngIf="loggedIn" id="page">
  <md-sidenav-layout class="sidenav-layout">

    <md-sidenav #start mode="side" opened="true">
      <a class="logo" [routerLink]="['']"><img src="app/assets/images/mu-logo.png"></a>
      <ul class="nav nav-pills nav-stacked">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/auth/youtube']"><md-icon>account_box</md-icon></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/browse']"><md-icon md-48>search</md-icon></a>
        </li>
         <li class="nav-item">
          <a class="nav-link" [routerLink]="['/reddit']"><md-icon md-48>sentiment_very_dissatisfied</md-icon></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/settings']"><md-icon md-48>build</md-icon></a>
        </li>
        <li class="nav-item">
          <a href="/auth/youtube">Log in</a>
        </li>
      </ul>
    </md-sidenav>

    <md-sidenav #end id="right-bar" align="end" opened="true" mode="side">
      <mu-video-player></mu-video-player>
      <mu-info></mu-info>
      <button md-button (click)="end.close()">Close</button>
    </md-sidenav>

    <div class="container-fluid">
      <div class="row">

        <div id="nav-toggle" @easeInTop="in">
          <button md-button class="start-toggle" (click)="start.toggle()"><md-icon md-48>menu</md-icon></button>
          <button md-button class="end-toggle" (click)="end.toggle()"><md-icon md-48>menu</md-icon></button>
        </div>

        <div id="main" class="col-sm-12 padding-0">
          <div id="router-outlet">
            <router-outlet></router-outlet>
          </div>
        </div>

      </div>
    </div>
  </md-sidenav-layout>

  <div id="control-bar" class="row margin-0" @easeInBottom="in">
    <mu-control-bar class="col-sm-12 padding-0"></mu-control-bar>
  </div>
</div>


