<style type="text/css">
	#top-playlists {
		padding-left: 5em;
		padding-right: 5em;
		padding-bottom: 2em;
		margin-top: 5em;/*
		background: rgba(255,255,255,0.1);*/
	}
	.inner-row {
		height: 15em;
		overflow-x: scroll;
		overflow-y: hidden;
		white-space: nowrap;
	}
</style>

<div id="top-playlists">
<div class="row ">
	<h3>Top playlists</h3>
	<div class="inner-row">
		<playlist-card></playlist-card>
		<playlist-card></playlist-card>
		<playlist-card></playlist-card>
		<playlist-card></playlist-card>
		<playlist-card></playlist-card>
		<playlist-card></playlist-card>
		<playlist-card></playlist-card>
	</div>
</div>
</div>

