<style type="text/css">
  .logo{
    display: block;
    height: 95px;
    /*background: url('') no-repeat center;*/
  }
  .nav-item {
    text-align: center;
  }
  a:hover {
    color: red;
  }
  nav a.router-link-active {
    color: red;
  }
</style>

<!-- <a class="logo" [routerLink]="['/']"><i class="fa fa-pied-piper fa-4x" aria-hidden="true"></i></a>
<ul class="nav nav-pills nav-stacked">
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/auth/youtube']"><i class="fa fa-pied-piper fa-2x" aria-hidden="true"></i>Profile</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/browse']"><span><i class="fa fa-search fa-2x" aria-hidden="true"></i>Browse</span></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/settings']"><span><i class="fa fa-cog fa-2x" aria-hidden="true"></i>Settings</span></a>
  </li>
</ul>
 -->

