extends layout

block content
	#container.container
		.row
			#navbar.col-md-1
				include navbar.jade
			#main.col-md-9
				include playlist.jade
			#now-playing.col-md-2
				include now-playing.jade
		#footer.footer
			p Akshit Talwar
