	<style type="text/css">
	#main-rightbar {
		height: 100%;
		z-index: 2000;
		position: relative;
		/*background-color: rgb(0,0,0);*/
		background-color: rgb(255,255,255);
		/*color: #e2e2e2;*/
		color: rgb(33,33,33);
		/*padding: 1.5em;*/
		border-left: 1px solid rgb(220,220,220);
	}
</style>

<!-- <div id="main-rightbar" [class.active]="open" @active="open ? 'open' : 'closed'">
	<button md-raised-button class="minimise" (click)="onToggleRight()">Minimise</button>
	<mu-video-player></mu-video-player>
	<mu-info></mu-info>
</div> -->