<style type="text/css">
	* {
	}
	.video {
		margin-bottom: 2em;
	}
</style>


<div class="video embed-responsive embed-responsive-16by9">
	<iframe id="player" class="embed-responsive-item" src="https://www.youtube.com/embed/M7lc1UVf-VE?autoplay=0&origin=http://localhost"></iframe>
</div>

<!-- <script type="text/javascript">
	var tag = document.createElement('script');
  	tag.src = "https://www.youtube.com/iframe_api";
	var firstScriptTag = document.getElementsByTagName('script')[0];
	console.log(firstScriptTag, "asdfsfa");
	firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
</script> -->
