<style type="text/css">

	#main-control {
	}
	#buttons {
		cursor: pointer;
	}
	.control {
		/*padding-left: 10px;*/
		top: 0;
		/*color: rgb(255,82,82);*/
	}
	.video-functions {
		/*float: left;*/
		/*padding-top: 1.2em;*/
		text-align: center;
	}
	.scrub-bar {
		/*padding-top: 1.2em;*/
	}
	.elapsedTime {
		text-align: center;
	}
	.bar {
		display: inline-block;
	}
	#elapsed {
		height: 3px;
		background: gold;
	}
	.duration {
		text-align: center;
	}

</style>


		<div class="col-sm-2" id="buttons">
			<a class="control" (click)="prev()"><md-icon class="">fast_rewind</md-icon></a>
			<a class="control" (click)="playOrPause()"><md-icon class="">{{playerStateIcon}}</md-icon></a>
			<a class="control" (click)="next()"><md-icon class="">fast_forward</md-icon></a>
		</div>
		<div class="col-sm-7 scrub-bar">
			<div class="row">
				<div class="col-sm-1 elapsedTime">{{elapsedTime | convertSeconds}}</div>
				<div id="seekBar" class="col-sm-10 bar">
					<div [style.width]="percentage" id="elapsed"></div>
				</div>
				<div class="col-sm-1 duration">{{totalTime | convertSeconds}}</div>
			</div>
		</div>
		<div class="col-sm-3 video-functions">
			<div class="row">
				<div class="col-sm-6 loop" (click)="shufflePlaylist()" [style.color]="shuffle ? 'green' : 'black'"><md-icon>shuffle</md-icon></div>
				<div class="col-sm-6 video-link"><md-icon>link</md-icon></div>
			</div>
		</div>