<style type="text/css">
  .main-header{
   font-size: 48px;
   line-height: 56px;
   font-family: 'proxima_nova', 'Helvetica Neue', Helvetica, Arial, sans-serif;
   font-weight: 300;
   color: white;
 }

  #playlists-data {
    /*margin-top: 2em;*/
  }
</style>

<div id="playlists-data">
  <md-tab-group [(selectedIndex)]="selectedIndex" (selectChange)="handleSelection($event)">
  <md-tab *ngFor="let tab of tabs">
      <template md-tab-label>{{tab.label}}</template>
      <template md-tab-content>
        <mu-playlists [currentTab]="selectedIndex"></mu-playlists>
      </template>
    </md-tab>
  </md-tab-group>
</div>
