<style type="text/css">
	.list {
		/*padding: 24px;*/
	}
</style>

<md-nav-list dense class="list">
	<md-list-item class="" *ngFor="let item of items; let i = index" @state="item === selectedItem ? 'active' : 'inactive'" [class.active]="item === selectedItem">
		<p md-line (click)="selectedItem = item; selectVideo(item.snippet.playlistId, item.snippet.resourceId.videoId, i)">{{item.snippet.title}}</p>
		<button md-icon-button (click)="queueVideo(item.snippet.resourceId.videoId)"><md-icon>queue_music</md-icon></button>
	</md-list-item>
</md-nav-list>