<style type="text/css">
	.full-bg {
		background-image: url('app/assets/images/bg.jpg');
		background-size: cover;
		height: 100%;
	}
	.center-div	{
		height: 40%;
		width: 50%;
		vertical-align: middle;
		background-color: rgba(0,0,0,0.2);
		/*float: left;*/
		margin: auto;
		margin-top: 15%;
		text-align: center;

	}
	.login {
		border-right: 5px solid rgba(255,255,255,0.2);
		height: 100%;
		width: 50%;
		position: relative;
		float: left;
	}
	.login a {
		color: #e2e2e2;
		text-decoration: none;
	}
	.info {
		position: relative;
		height: 100%;
		width: 50%;
		float: left;
	}
</style>

<div class="container-fluid full-bg">
	<div class="center-div">
		<div class="login">
			<h1><a href="">Sign in to Google</a></h1>
		</div>
		<div class="info">
			<h1>Music player app</h1>
		</div>
	</div>
</div>