<style type="text/css">
	.subreddits {
		height: 100%;
		border-right: 1px solid rgb(220,220,220);
		overflow-y: auto;
		padding-left: 1em;
	}
	.thread {
		height: 100%;
		overflow-y: auto;
	}
	.search {
		border: 1px solid rgb(220,220,220);
	}
</style>

<div class="col-sm-3 padding-0 subreddits">
	<div class="my-subreddits">

	</div>
	<div class="search">
		<md-input #term placeholder="Rock" align="start" (keyup)="search(term.value)">
		  <span md-prefix>/r/</span>
		</md-input>
	</div>
	<div class="data"*ngIf="!inSearch">
		<div class="genre"  *ngFor="let genre of data">
			<div class="genre-title"><h3>{{genre.genre}}</h3></div>
			<mu-subreddit *ngFor="let subreddit of genre.subreddits" [subreddit]="subreddit" (subredditEvent)="subredditEvent($event)"></mu-subreddit>
		</div>
	</div>

	<div class="here" *ngIf="inSearch">
		<mu-subreddit *ngFor="let subreddit of subreddits" [subreddit]="subreddit" (subredditEvent)="subredditEvent($event)"></mu-subreddit>
	</div>
</div>
<div class="col-sm-9 padding-0 thread"><mu-thread [selectedSubreddit]="selectedSubreddit"></mu-thread></div>
