<style type="text/css">
	.info {
		/*margin: 20px;*/
		border-top: 1px solid rgb(220,220,220);
		margin: 0;
		padding-bottom: 4em;
	}
	.vid-lyrics-toggle-btn {
		/*margin-bottom: 2em;*/
		position: absolute;
		right: 0;
		z-index: 9999;
	}
	.toggle {
		margin: 0;
	}
	.info-tab {
		text-align: left;
	}
</style>


<!-- <div class="row info">
	<a class="vid-lyrics-toggle-btn" (click)="toggle()">Toggle</a>
	<div class="col-sm-12 padding-0" [ngSwitch]="tab">
		<mu-related-videos *ngSwitchWhen="'related-videos'"></mu-related-videos>
		<mu-lyrics *ngSwitchWhen="'lyrics'"></mu-lyrics>
	</div>
</div> -->

<div class="row info">
	<md-tab-group class="info-tab">
	  <md-tab>
	    <template md-tab-label>Related Videos</template>
	    <template md-tab-content>
	      <mu-related-videos></mu-related-videos>
	    </template>
	  </md-tab>
	  <md-tab>
	    <template md-tab-label>Lyrics</template>
	    <template md-tab-content>
	      <mu-lyrics></mu-lyrics>
	    </template>
	  </md-tab>
	</md-tab-group>
</div>